# Local config files may contain secrets.
*.toml
!config/example.toml
!**/example.toml

.env
scripts/.env

bin/
.dev/
logs/

environments/certs/*.pem
environments/certs/*.key
environments/certs/*.crt

.git/
.gitignore
