# Local config files may contain secrets.
**/config.toml
!**/example.toml
helios-configs-*.tar.gz

.env
scripts/.env

bin/
.dev/
logs/
**/.venv/
**/__pycache__/
**/*.py[cod]

environments/certs/*.pem
environments/certs/*.key
environments/certs/*.crt

.git/
.gitignore
